[Unit]
Description=Aegis proxy into private API namespace
Requires=aegis-api.service
After=aegis-api.service
JoinsNamespaceOf=aegis-model@default.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8000
User=aegis-proxy
PrivateNetwork=yes
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
CapabilityBoundingSet=
RestrictNamespaces=yes
InaccessiblePaths=/var/lib/aegis /var/lib/aegis-key /var/lib/aegis-witness /run/aegis-key /run/aegis-witness /run/aegis-attestor
LimitCORE=0
